USE [master]
GO
/****** Object:  Database [Opgave]    Script Date: 21-08-2023 13:06:29 ******/
CREATE DATABASE [Opgave]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Opgave', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Opgave.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Opgave_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Opgave_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Opgave].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Opgave]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 21-08-2023 13:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[brandID] [int] NOT NULL,
	[name] [varchar](255) NOT NULL,
	[category] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[brandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Collaborations]    Script Date: 21-08-2023 13:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Collaborations](
	[collaborationID] [int] NOT NULL,
	[influencerID] [int] NOT NULL,
	[brandID] [int] NOT NULL,
	[platformID] [int] NOT NULL,
	[duration] [int] NOT NULL,
	[payment] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[collaborationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Influencers]    Script Date: 21-08-2023 13:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Influencers](
	[influencerID] [int] NOT NULL,
	[name] [varchar](255) NOT NULL,
	[age] [float] NOT NULL,
	[instagramFollowers] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[influencerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SocialMediaPlatforms]    Script Date: 21-08-2023 13:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SocialMediaPlatforms](
	[platformID] [int] NOT NULL,
	[name] [varchar](255) NOT NULL,
	[averageUserAge] [float] NOT NULL,
	[totalUsers] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[platformID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Collaborations]  WITH CHECK ADD FOREIGN KEY([brandID])
REFERENCES [dbo].[Brands] ([brandID])
GO
ALTER TABLE [dbo].[Collaborations]  WITH CHECK ADD FOREIGN KEY([influencerID])
REFERENCES [dbo].[Influencers] ([influencerID])
GO
ALTER TABLE [dbo].[Collaborations]  WITH CHECK ADD FOREIGN KEY([platformID])
REFERENCES [dbo].[SocialMediaPlatforms] ([platformID])
GO
USE [master]
GO
